{% extends "base.html" %}
{% block title %}QR{% endblock %}
{% block main %}
{% load static %}

<h2 class="text-center ">Scan QR Code</h2>
<div style="width:600px;height:400px" class="me-auto ms-auto text-center">
    <div id="text-camera">
        Camera is loading...
    </div>
    <button id="restart-camera" class="btn btn-primary mt-2 mb-2" hidden>
        Restart camera
    </button>
    <video class="camera me-auto ms-auto" style="display: block;" id="preview"> </video>
</div>


<script src="{% static 'js/instascan.min.js' %}"></script>
<script src="{% static 'js/qr.js' %}"></script>

{% endblock %}
