{% extends "base.html" %}
{% block title %}Register Bike{% endblock %}
{% block main %}
{% load static %}
<!-- Paging -->
{% load my_tags %}

<div class="white-box">
    <form id="genTokenForm" method="POST" class="row w-100" action="{% url 'register-bike' %}">
        <h4 class="panel-title color-primary ms-3">Bike list</h4>
        <div class="row mb-4" style="justify-content: end;">
            <button type="submit" id="genBikeTokenBtn" class="saveBtn" class="btn btn-primary">Generate new bike token</button>
        </div>
        {% csrf_token %}
    </form>
    <div id="bike-list" class="mh-grid-list admin">
      <div id="list-template" class="d-flex flex-column mh-grid-row accent pt-3 d-none">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column" style="flex:1">
              <div class="card-el-title">Bike Secret</div>
                <div class="card-el">
                      <div class="card-el-value align-items-baseline" style="display: inline-flex;flex-wrap: nowrap;">
                          <div class="card-el-value accent"></div>
                      </div>
                </div>
            </div>
            <div class="d-flex flex-column" style="flex:1">
              <div class="card-el-title">Bike QR</div>
                <div class="card-el">
                      <div class="card-el-value align-items-baseline" style="display: inline-flex;flex-wrap: nowrap;">
                          <div class="card-el-value accent"></div>
                      </div>
                </div>
            </div>
            <div class="d-flex flex-row me-2 justify-content-end" style="width:100px;margin-top:-5px">
                  <a data-pjax type="button" class="float-right deleteBtn accent ms-3 align-self-center" url="" 
                      data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                      <i class="bi bi-trash-fill" style="font-size: 20px;cursor: pointer;">
                      </i>
                  </a>
            </div>
        </div>
      </div>
        {% for object in object_list %}
        <div class="d-flex flex-column mh-grid-row accent pt-3">
          <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-column" style="flex:1">
                <div class="card-el-title">Bike Secret</div>
                  <div class="card-el">
                        <div class="card-el-value align-items-baseline" style="display: inline-flex;flex-wrap: nowrap;">
                            <div class="card-el-value accent">{{object.secret}}</div>
                        </div>
                  </div>
              </div>
              <div class="d-flex flex-column" style="flex:1">
                <div class="card-el-title">Bike QR</div>
                  <div class="card-el">
                        <div class="card-el-value align-items-baseline" style="display: inline-flex;flex-wrap: nowrap;">
                            <div class="card-el-value accent">{{object.code}}</div>
                        </div>
                  </div>
              </div>
              <div class="d-flex flex-row me-2 justify-content-end" style="width:100px;margin-top:-5px">
                    <a data-pjax type="button" class="float-right deleteBtn accent ms-3 align-self-center" url="{% url 'remove-bike' object.pk %}" 
                        data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                        <i class="bi bi-trash-fill" style="font-size: 20px;cursor: pointer;">
                        </i>
                    </a>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
      {% if is_paginated %}
      <div class="row bottom-pagination accent">
        <a data-pjax {% if page_obj.has_previous %} href="?{% param_replace page=1 %}" class="pagEnabled"
          {% endif %}>
            <i class="bi bi-chevron-bar-left"></i>
        </a>
        <a data-pjax {% if page_obj.previous_page_number > 0%} href="?{% param_replace page=page_obj.previous_page_number %}" class="pagEnabled" {% endif %}>
            <i class="bi bi-chevron-left"></i>
        </a>
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
      
        <a data-pjax {% if page_obj.has_next %} href="?{% param_replace page=page_obj.next_page_number %}" class="pagEnabled" {% endif %}>
          <i class="bi bi-chevron-right"></i>
        </a>
        <a data-pjax {% if page_obj.has_next %} href="?{% param_replace page=paginator.num_pages %}" class="pagEnabled" {% endif %}>
          <i class="bi bi-chevron-bar-right"></i>
        </a>
      </div>
      {% endif %}
      
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm removal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Confirm bike removal.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Remove</button>
        </div>
      </div>
    </div>
  </div>  
</div>



<script>
    $("#genBikeTokenBtn").click(function(event){
        event.preventDefault();
        $.ajax({
                type: 'POST',
                data: $("#genTokenForm").serialize(),
                async: false,
                url: "{% url 'register-bike' %}"
        }).then(function (data) {
            var tmp = $("#list-template").clone();
            var els = tmp.find(".card-el-value.accent");
            els.eq(0).html(data["secret"]);
            els.eq(1).html(data["code"]);
            tmp.find("a").attr("url","remove-bike/"+data["pk"]+"/");
            tmp.attr("id","");
            tmp.toggleClass("d-none");
            $("#bike-list").prepend(tmp);
        });
    });
    $("body").on("click",".deleteBtn",function(event){
      event.stopPropagation();
      $("#confirmDeleteModal>.modal-dialog>.modal-content>.modal-footer>.btn-primary").attr("onclick", "window.location.href='"+$(this).attr("url")+"';");
    });
</script>

{% endblock %}
