{% extends "base.html" %}
{% load widget_tweaks %}
{% block main %}
<div style="text-align: center;" class="padding-top-4 pb-5 mb-5">
    <div class="content-section col-xs-8 col-sm-6 col-md-4 col-lg-4 offset-xs-2 offset-sm-3 offset-md-4 offset-lg-4 ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom margin-bottom-2_5 red-color">SCHIMBĂ PAROLA</legend>
                {% render_field form.old_password class="login-input" placeholder="Parola veche..." %}
                {% render_field form.new_password1 class="login-input" placeholder="Parola nouă..." %}
                {% render_field form.new_password2 class="login-input" placeholder="Confirmare parolă nouă..." %}
            </fieldset>
            <div class="form-group">
                <button class="login-button ps-4 pe-4" type="submit">Trimite</button>
            </div>
        </form>
    </div>
</div>
{% endblock main %}