{% extends "base.html" %}
{% load widget_tweaks %}
{% block main %}
<div style="text-align: center;" class="padding-top-4 pb-5 mb-5 white-box">
    <div class="content-section col-xs-8 col-sm-6 col-md-4 col-lg-4 offset-xs-2 offset-sm-3 offset-md-4 offset-lg-4 ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom margin-bottom-2_5 color-primary fw-bold">Change password</legend>
                {% render_field form.old_password class="login-input" placeholder="Old password..." %}
                {% if form.errors.old_password %}
                <div class="alert alert-danger" role="alert">
                    <h5>{{ form.errors.old_password }}</h5>
                </div>
                {% endif %}
                {% render_field form.new_password1 class="login-input" placeholder="New password..." %}
                {% if form.errors.new_password1 %}
                <div class="alert alert-danger" role="alert">
                    <h5>{{ form.errors.new_password1 }}</h5>
                </div>
                {% endif %}
                {% render_field form.new_password2 class="login-input" placeholder="Confirm new password..." %}
            </fieldset>
            <div class="form-group">
                <button class="login-button ps-4 pe-4" type="submit">Apply</button>
            </div>
        </form>
    </div>
</div>
{% endblock main %}